body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #7d5391;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
}

select, button {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*adjektiivit style*/
#inputs input {
    display: block;
      margin-bottom: 5px;
}

.results {
    margin-top: 20px;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

/*kaupungit style */
#vastaus {
  font-weight: 500;
}

#paakaupunki {
  max-width: 400px;
}

/*sää style*/
#result {
      font-size: 24px;
      margin-top: 20px;
}

#emoji {
      font-size: 80px;
      margin-bottom: 10px;
}

/*yhteenlasku style*/
.question {
  margin-bottom: 15px; 
}

.result {
  font-weight: bold;
  margin-top: 20px; 
}